.App{
  
margin: 20px;
}

.App > div {
  flex:1;
  padding: 1px;
  border: 1px solid gray;
}



ul,li{
  list-style-type: none;
  cursor: pointer;
  text-decoration: none;

}

.user-list ul li:hover{
  color: red;
}


.menu{
  margin: 30px;
  
}
.menu ul {
  display: flex;
  column-gap: 20px;
  margin: auto;
  padding:10px 5px;
  ; 
}
.menu a{
  text-decoration: none;
  font-style: bold;
  font-size: large;
}


.auth-panel{
  border:1px solid gray;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.contact-form div input{
  display: block;
  margin: 5px 5px 10px;
}